*
body{ 

    background-color: white;
color: black;
text-align: center;
list-style-position: inside;
font-family: "press Start 2p";
}
#odin{
    padding: 20px;
    border: 10px solid #000000;
    background-color: grey;
   
}
.fries{ 
     padding: 20px;
     border: 10px solid #000000;
     background-color: grey;
}
.Ingredients{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-size: large;
    border: 5px solid red   ;
}
.steps{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-size: large;
    border: 5px solid red;
}
.recipe{
    display: inline-block;
    padding: 10px 20px;
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 5px solid red ;
}