*
body{background-color: white;
color: black;
text-align: center;
list-style-position: inside;
font-family: "press Start 2p";
}
#odin{
    padding: 30px;
    border: 20px solid #000000;
   
}
.fries{
     padding: 20px;
     border: 20px solid #000000;
}
